	@define-color arc-blue #0062f5;
	@define-color arc-blue-light #4accf5;
	@define-color arc-blue-hover #629de2;
	@define-color arc-blue-active #3aa3e2;
	

	GtkLabel {
		font: 11pt Roboto;
	}
	
	#OPTION_LABEL {
		color: #707070;
		font: 11pt Roboto Light;

	}

	#BANNER_BOX{
		background-color: #000886;


	}

	#PKG_NAME{
		color:#000000;
		font: 11pt Roboto Light;
	}

	#MSG_LABEL {

		color: #000000;
		font: 11pt Roboto Bold;
	}	

	#DEPEND_LABEL {

		color: #707070;
		font: 9pt Roboto Bold;
	
	}	

	#MSG_ERROR_LABEL {

		color: #CC0000;
		font: 11pt Roboto Bold; 
	}
	
	#MSG_CORRECT_LABEL {
			color: #43a047;
			font: 11pt Roboto Bold;

	}
		
    #WINDOW{
		
		background-color: #f1f1f1;
		
	}


	#INFO_APP_BUTTON {
			border-width: 5px;
			border-radius: 0px;
			padding: 0px 0px;
			box-shadow: none;
			border-color: #f4c20d;
			
			color: white;
			background-image:-gtk-gradient (linear,	left top, left bottom, from (#f4c20d),  to (#f4c20d));
			text-shadow: none;
			
	}
		
	#INFO_APP_BUTTON:hover {
		border-color: #f7d045;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#f7d045),  to (#f7d045));
		box-shadow: -0.5px 3px 3px #aaaaaa;
	}	

	#RUN_APP_BUTTON {
			border-width: 5px;
			border-radius: 0px;
			padding: 0px 0px;
			box-shadow: none;
			border-color: #4784ed;
			
			color: white;
			background-image:-gtk-gradient (linear,	left top, left bottom, from (#4784ed),  to (#4784ed));
			text-shadow: none;
			
	}
		
	#RUN_APP_BUTTON:hover {
		border-color: #7ea8f2;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#7ea8f2),  to (#7ea8f2));
		box-shadow: -0.5px 3px 3px #aaaaaa;
	}
		
	#APP_BOX {
		background-color: #ffffff	;
		/*box-shadow: -0.5px 3px 2px #cdcdcd;*/
		
	}
	
	#APP_BOX:hover {
		box-shadow: -0.5px 3px 2px #cacaca;
	}
	
	
	#TITLE {
		
			color:#3366cc;
			font: 18pt Roboto;
		}
		
	#FULL_DESCRIPTION {
		
			color: #707070;
			font: 11pt Roboto;
		}
		
	#ROBOTO_MEDIUM_GRAY{
			color: #A0A0A0;
			font: 14pt Roboto;
		}
		
	#SHORT_DESCRIPTION{
			color: #3366cc;
			font: 12pt Roboto Light;
		}
	
	#ITEM_LIST {
		background-image:-gtk-gradient (linear,	0 0, 0 1, 
			
				color-stop(0, rgba(255,255,255,1)),
				color-stop(0.1, rgba(255,0,0,1)),
				color-stop(0.2, rgba(0,255,0,1)),
				color-stop(0.3, rgba(0,0,255,1)),
				color-stop(0.4, rgba(255,255,0,1)),
				color-stop(0.5, rgba(255,0,255,1)),
				color-stop(0.6, rgba(0,255,255,1)),
				color-stop(0.7, rgba(0,0,0,1)),
				
				color-stop(1, rgba(255,255,255,1))
			);
	}


	#CUSTOM-ENTRY
	{
		color: @default-grey;
		border: 1px solid #aaaaaa;
		/*border-bottom: 1px solid #aaaaaa;*/
		padding: 4px;
		
	
	}

	#CUSTOM-ENTRY:focus
	{
		color: @arc-blue;
		border: 1px solid @arc-blue-light;
		/*border-bottom: 1px solid @arc-blue-light;*/
		
	
	}
	#CUSTOM-ENTRY:selected
	{
		color: white;
	}

	#CUSTOM-ENTRY:disabled
	{
		background-color: #bbbbbb;
		border:1px solid transparent;
		/*border-bottom: 1px solid transparent;*/
		color: #999999;
	}


	#ERROR_BOX{

		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color:#da4453;
		background:#ebced2;
	}

	#SUCCESS_BOX{

		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color:#27ae60;
		background:#c7e3d4;
	}

	#INFORMATION_BOX{

		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color:#3daee9;
		background:#cbe3f0;
	}

	#HIDE_BOX{

		border-style:none;
		border-width: 0px;
		border-radius: 0px;
		border-color:transparent;
		background:transparent;
	}

	#WARNING_BOX{

		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color:#f67400;
		background:#f0d7c1;
	}

	#SEPARATOR{

		background-color: #bec0c1;

	}

	#WHITE_SEPARATOR{

		background-color: #ffffff;

	}

	
	#FEEDBACK_LABEL{
		color: #000000;
		font: 11pt Roboto Bold;
	}

	#DEPEND_BOX{
		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color:#bec0c1;
		background: #ffffff;

	}

	#LIST_BOX{
		background: #ffffff;

	}